# MQTT Broker Configuration
MQTT_BROKER_HOST=localhost
MQTT_BROKER_PORT=1883

# V2X API Configuration
V2X_API_URL=http://localhost:8080
V2X_API_USERNAME=
V2X_API_PASSWORD=

# Serializer API Configuration
SERIALIZER_API_URL=http://localhost:4000

